@charset "utf-8";
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);
/* 도깨비 PJ : 메인페이지 CSS - main.css */
body * {
    outline: 2px dashed #ccc;
}
body > div * {
    outline: 2px dashed red;
}

/* 
개별영역 박스 
-> 개별영역 중앙속박스에 높이값을 주면 파트박스가
    늘어날경우 높이값에 제한을 받게됨.
    확장형은 반드시 파트박스에 높이값을 설정한다.
*/


/************* 1. 캐릭터소개영역 *************/
#banner {
    background-color: lightgreen;
}
.banner .partbox {
    height: 530px;
}
/************* 2. 메인영역 : .group-part *************/
/* 방송편성소개파트 */
.main .group-part-01 .partbox {
    height: 455px;
}
/* 미리보기파트 */
.main .group-part-02 .partbox {
    height: 298px;
}
/* 현장포토파트 */
.main .group-part-03 .partbox {
    height: 300px;
}
/* 대표이미지파트 */
.main .group-part-04 .partbox {
    height: 542px;
}
/* 최신동영상파트 */
.main .group-part-05 .partbox {
    height: 376px;
}
