@charset "utf-8";
/* 맨위에 utf-8 인코딩 표시 필수 */

/* 웹 폰트 CDN(Content Delevery network) */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic&display=swap');
/*
    @import url(주소) 
    - 외부 CSS를 불러올때 사용하는 형식
    - 외부 CSS 파일을 하나로 합칠때 많이 사용
*/
/* 
    웹폰트 font-family 이름 
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Nanum Gothic', sans-serif;    
*/

    /* css영역내 주석문 */

/* 
    [ 모든 요소 공통 디자인 요소 : 박스모델 ]
    1.크기 : width 가로, height 세로
    2.경계선 : border
    3.내부여백 : padding
    4.외부여백 : margin
    (여백공통방향: top, bottom, right, left)

    [ CSS 속성셋팅 형식 ]
    선택자 {
        속성: 값;
    }

    [ CSS 선택자 ]
    1.타입선택자 : 태그명 (div, p, a)
    2.아이디선택자 : #아이디명
    3.클래스선택자 : .클래스명
    4.자손선택자 : 띄어쓰기 (div a)
    5.직계자식선택자 : 오른쪽꺽쇠 (div > a)
    6.종속선택자 : 태그명#아이디명 / 태그명.클래스명 (태그 = 요소)
    7.형제선택자 : 요소+요소 (a+a)
        ->앞의 요소가 있는 형제요소를 선택
    8.그룹선택자 : 선택자, 선택자 (html,body,p)
        ->여러요소를 동시에 선택함
*/

/* 기본요소의 초기화 */
*{
    padding: 0;
    margin: 0;
    border: 0;
}

/* 레이아웃 박스 공통 디자인 */
.bx {
    /* 크기 w800 -> 가로크기 */
    width: 800px;
    /* 외곽선 bd -> 두깨 선종류 색상 */
    border-top: 1px solid #00c300;
    /* 패딩 */
    padding: 20px;
    /* 마진 */
    margin: 0 auto;
    /* 
        [ 마진/패딩 공통 개수별 정의 ]
        margin: 4방향; (1개)
        margin: 위아래 양쪽; (2개)
        margin: 위 양쪽 아래; (3개)
        margin: 위 오 아래 왼; (4개-시계방향)
    */
    border-radius: 10px;
}

/* 1.상단영역 */
#top {
    text-align: center;
    background-color: #00c3008c;
}
/* 타이틀 */
#top h1 {
    font-size: 40px;
    font-weight: 300;
    color: white;
    font-family: 'Black Han Sans', sans-serif;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, .22);
    /* 
        text-shadow: 글자 그림자
        값 - x축 y축 블러(경계흐림) 색 
    */
    margin: 10px 0;
}
/* 메뉴 링크 */
#gnb {
    color: white;
}
#gnb a {
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 24px;
    vertical-align: -4px;
    /* vertical-align : 인라인요소간 세로정렬 */
}
/* 가상클래스 :hover 마우스오버시 */
#gnb a+a:hover { /* a+a는 앞에 a요소가 있는 형제 a요소를 선택 - 결과적으로 첫번째 a요소가 선택되지 않는다. */
    text-decoration: underline;
    color: #00c300;
}
#gnb img {
    vertical-align: -3px;
}
.cimg {
    width: 100%; /* 100%의 기준은 싸고 있는 블록 박스의 content영역을 말함.(border, padding제외 내부영역) */
    border-radius: 10px;
}
/* 2.메인영역 */
#cont {
    margin: 20px auto;
    box-shadow: 0 2px 3px #00c3008c;
}
/* 3. 하단영역 */
#info {
    text-align: center;
    background-color: #00c3008c;
}
/* 회사주소 */
#info address {
    /* 기본 이탤릭체 스타일 노말로 변경 */
    color: white;
    font-weight: 600;
    font-style: normal;
    font-family: 'Nanum Gothic', sans-serif;
}
/* 대표자  span*/
/* .utxt {
    text-decoration: underline;
    text-decoration-color: red;
} */
/* b.utxt {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: blue;
} */
/* 종속 선택자로 같은 이름의 클래스인데 다른 디자인으로 변경하여 셋팅하기 */

