@charset "utf-8";
/* 서브페이지용 CSS - sub.css */

/* 공통 외부 CSS 합치기 */
@import url(./common.css);

/* 서브타이틀 */
.stit {
    text-align: center;
    font-size: 38px;
    color: #ffffff;
    font-weight: 300;
    font-family: 'Black Han Sans', sans-serif;
    text-shadow: 1px 1px 5px #000000;
    border-radius: 10px;
    padding: 40px;
    /* 박스그림자 */
    box-shadow: inset 0 0 9px 1px #000;
    /* 
        [ box-shadow 속성 ] 
        - 박스 외부/내부 그림자 설정속성
        - 값 : x축 y축 blur spread 색
        text-shadow와 달리 spread속성이 있음(그림자 크기)
        - inset : 내부 그림자 설정
        - 그림자 다중설정 : 콤마(,)로 연속사용가능
    */
    margin-bottom: 30px;
    /* 배경넣기 */
    /* background: url() no-repeat center/cover; */
    /* background : 색 배경 반복 고정 위치/크기 */
}

/* 정치 타이틀 배경 */
.st1 {
    background: url(../images/afig1.jpg) no-repeat center/cover;
}
/* 경제 타이틀 배경 */
.st2 {
    background: url(../images/afig2.jpg) no-repeat center/cover;
}
/* 사회 타이틀 배경 */
#cont .st3 { /* 부모요소를 써주면 우선순위가 높아짐 */
    background: url(../images/afig3.jpg) no-repeat center/cover;
}
/* IT/과학 타이틀 배경 */
.st4 {
    background: url(../images/afig4-1.jpg) no-repeat 0 48%/cover;
}
/* TV/연예 타이틀 배경 */
.st5 {
    background: url(../images/afig5.jpg) no-repeat center/cover;
}

/* 언론사로고 */
.prlogo img {
    height: 32px;
    /* 
        이미지는 기본 비율을 가지고 있어 가로,세로 중 한쪽만 크기를 주면
        나머지 방향은 기본으로 비율을 유지한다.
    */
}
/* 기사타이틀 */
.atit {
    font-size: 30px;
}
.afig {
    margin: 30px 0 40px 0;
}
/* 기사이미지 */
.afig img {
    width: 100%;
}
/* 기사이미지 설명 */
.afig figcaption {
    font-size: 15px;
    color: #767676;
    text-align: center;
}
/* 기사 문단 */
.acont p {
    font-size: 17px;
    color: #303038;
    letter-spacing: 1px; /* 자간 1px */
    word-spacing: 1px; /* 단어간격 1px */
    text-align: justify; /* 양쪽정렬 */
    /* 줄간격 1h */
    line-height: 2.1;
    /* 글자 라인간 간격을 조정함 */
}

/* 강조 em요소 디자인변경 */
.acont p em {
    /* 이탤릭해제 */
    font-style: normal;
    /* 글자색변경 */
    color: #000;
    /* 글자두껍게 */
    font-weight: bold;
    /* 글자그림자 */
    text-shadow: 2px 2px 2px #0000008f;
}

.acont p mark {
    display: block;
    width: 65%;
    margin: 15px auto;
    padding: 20px 50px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    background-color: #ebebeb;
    text-align: center;
    font-size: 20px;
    color: darkorange;
    font-family: 'Black Han Sans', sans-serif;
}
/* 유튜브 동영상 박스 */
.mvbx {
    height: 550px;
    /* 
        div와 같은 block 요소는 width 설정을 하지 않으면
        width: auto 로 자동설정됨.
    */
}


.mvbx iframe {
    border: none;
    width: 100%;
    height: 100%;
}
/* 인용블록 영역 */
.bqbx {
    display: block;
    padding: 20px 0;
    margin: 20px 0;
    border-top: 2px dashed #ccc;
    border-bottom: 2px dashed #ccc;
}
.bqbx blockquote {
    padding: 15px 0;
    line-height: 2;
}
/* 인용블록 이미지 */
.bqbx img {
    float: right;
    border-radius: 5px;
    margin-left: 15px;
}

.desc {
    border-top: 2px dashed #ccc;
    border-bottom: 2px dashed #ccc;
}

.desc div {
    padding: 15px 0;
}
/* article 제목공통 */
.atbx h5 {
    display: inline-block;
    background-color: #ebebeb;
    padding: 10px 20px;
    border-radius: 20px;
    color: #333;
    font-size: 20px;
    box-shadow: inset 0 0 5px #00000038;
}
.alink {
    text-align: right;
}
.alink a {
    display: inline-block;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: rgb(77, 73, 73);
    font-family: sans-serif;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0 1px 6px 0 #20212447;      
    border-radius: 20px;
}
.alink a:hover {
    background-color: #ececec;
}

/* 오늘의 작품&느낌 */
.work {
    text-align: center;
    box-shadow: inset 0 0 10px #0000009e;
    /* 
        그라데이션 -> 이미지로(bgi) 
        색마다 %설정 가능
    */
    background: linear-gradient(152deg, #f35726, #fde8e1);
    /*
        배경옵션 추가 
        background-clip : 배경이 적용되는 범위 설정
        1. border-box - 보더까지 적용 (기본값)
        2. padding-box - 패딩까지 적용
        3. content-box - 내용영역만 적용(패딩, 보더 빠짐)
    */
    /* border: 50px solid black;
    padding: 50px;
    background-clip: padding-box; */
}
.work h3 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 26px;
    color: #333;
    padding-top: 20px;
}
/* 작품이미지 */
.work img {
    border: 15px ridge goldenrod;
    /* ridge - 액자틀모양 */
}
.work figcaption {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
}
.work figcaption cite {
    font-style: normal;
    color:#e241eb;
}
/* 뉴스파트 공통 class */
.nbx {
    border-top: 2px dashed #ccc;
    margin: 20px 0;
    padding: 20px 0;
}
/* 뉴스파트 공통 a요소 */
.nbx a {
    font-size: 17px;
    line-height: 2.5;
    color: black;
    text-decoration: none;
}
/* 공통 a마우스 오버 */
.nbx a:hover {
    color: yellowgreen;
    text-shadow: 1px 1px 1px #000;
}
/* 뉴스 타이틀 공통 */
.nbx h3 {
    font-size: 30px;
    font-weight: normal;
    font-family: 'Black Han Sans', sans-serif;
    background: linear-gradient(90deg, lightblue, #ffffff );
    padding: 10px;
}

/* 한줄 말줄임 표시하기 공통처리 */
.nbx li, .nbx dd, .nbx td {
    white-space: nowrap; /* 줄바꿈 방지 */
    overflow: hidden; /* 넘치는 컨텐츠 숨기기 */
    text-overflow: ellipsis; /* 넘치는 글자 말줄임(...) 표시 */
    /* 
        [ 여러줄일때 말줄임 ]
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 라인수;
        -webkit-box-orient: vertical;
        주의)
        박스 높이를 글자가 보일만큼만 조절
        white-space: nowrap; 없음
    */
}

/* 주요뉴스 ul */
.cnews ul li::before {
    content: '🐣';
}
/* 
    [ CSS 가상요소 : before, after ]
    모든 요소는 맨앞과 맨뒤에 가상요소를 사용할 수 있다.
    - 필수속성 : content: '';
    - 이미지는 (url)
*/

/* 주요뉴스 li별 글자색 바꾸기 */
.cnews li:first-child a {
    color: red;
}
.cnews li:nth-child(2) a {
    color: blue;
}
.cnews li:last-child a {
    color: green;
}

/* 분야별 뉴스 */
.snews dt {
    font-size: 28px;
    font-weight: 600;
    background-color: #c1e1ec;
    display: inline-block;
    padding: 15px;
    border-radius: 40px;
    margin-top: 55px;
}
/* dd 앞에 가상요소로 블릿넣기 */
.snews dd:before {
    content: '🐣';
}
/* 분야별 뉴스 dt별  */
.snews dt:first-of-type {
    color: red;
}
.snews dt:nth-of-type(2) {
    color: blue;
}
.snews dt:nth-of-type(3) {
    color: green;
}
/* 
    [ 자식요소 선택 가상클래스 : 자식요소 종류가 같아야함! ]
    요소:first-child -> 첫번째 자식요소
    요소:nth-child(n) -> n번째 자식요소
    요소:last-child -> 마지막째 자식요소

    [ 여러종류가 섞여 있을 경우 형제 선택하기 ]
    요소:first-of-type -> 같은 요소 중 첫번째
    요소:nth-of-type(n) -> 같은 요소 중 n번째
    요소:last-of-type -> 같은 요소 중 마지막째

    (n은 1부터 시작)
*/

