@charset "utf-8";

/* Robot PJ 메인 CSS - robot.css */

/* 웹폰트 CDN */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Black+Ops+One&family=Chakra+Petch&family=Orbitron:wght@500&display=swap');

/* 
    font-family: 'Barlow', sans-serif;
    font-family: 'Black Ops One', cursive;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Orbitron', sans-serif;
*/
/* 초기화 */
html, body, h1, h2, h3 ,ul, ol {
    margin: 0;
    padding: 0;
}
/* 전체 배경이미지 */
body {
    background: url(../images/bg.jpg) no-repeat fixed top/cover;
}
/* 공사중표시 */
body * {
    outline: 2px dashed yellow;
}
/* 공통 클래스 */
.metal1 {
    background: url(../images/metal01.jpg) no-repeat center/cover;
}
.metal2 {
    background: url(../images/metal02.jpg) no-repeat center/cover;
}

/* 1. 상단영역 */
/* 로고 */
/* 링크타이틀 */
/* 탑이동버튼 */

/* 2. 메인영역 */
.main-aria {
    overflow: hidden;
    /* 첫번째 자식요소 블록박스에 마진탑을 준경우 그 마진값은
    부모요소 바깥쪽으로 나간다. (기본성질)
    마진탑을 포함하려면 부모요소에 overflow: hidden을 줘야한다. 
     + 하단마진도 부모요소 바깥으로 나감 */
}
/* 로봇박스 */
.box-robot {
    padding: 200px 0 520px;
    margin-top: 30px;
}
/* 머리 */
.head{
    width: 250px;
    height: 250px;
    margin: 0 auto;
    /* 메탈배경 */
    background: url(../images/metal01.jpg) no-repeat center/cover;
    position: relative;
    border-radius: 150px;
    z-index: 1;
}
/* 가상요소로 머리에 가발 씌우기 */
.head::after {
    content:'';
    display: block;
    /* 마치 div를 넣은것과 같다 */
    position: absolute;
    top: -75px;
    left: -24px;
    /* 부모는? .head */
    width: 300px;
    height: 250px;
    background: url(../images/hair.png) no-repeat 0/100% 100%;
    z-index: 1;
}
/* 오버시 가상요소 가발 변경하기 */
.head:hover::after {
    top: -168px;
    left: -135px;
    width: 524px;
    height: 401px;
    background-image: url(../images/hair3.png);
}
.head > div,
.body > div {
    position: absolute;
}
/* 눈공통 */
.eye {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px double #000;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #fff;
    top: 50px;
}
/* 왼눈 */
.eye1 {
    left: 50px;
    background-image: url(../images/e1.jpg);
}
/* 오른눈 */
.eye2 {
    right: 50px;
    background-image: url(../images/e2.jpg);
}
/* 코 */
.nose {
    width: 60px;
    height: 69px;
    background: url(../images/nose.jpg) no-repeat -2px 0/cover;
    border-radius: 26px;
    transform: translate(-50%, -30%);
    top: 50%;                
    left: 50%;
}
/* 입 */
.mouth {
    left: 62px;
    bottom: 10px;
    width: 126px;
    height: 54px;
    background: url(../images/mouth.png) no-repeat 0/100% 100%;
}
/* 귀공통 */
.ear {
    top: 100px;
    width: 50px;
    height: 80px;
    background: url(../images/metal02.jpg) no-repeat center/cover;
}
/* 왼귀 */
.ear1 {
    left: -50px;
    border-radius: 20px 0 0 20px;
}
/* 오른귀 */
.ear2 {
    right: -50px;
    border-radius: 0 20px 20px 0;
}
/* 몸통 */
.body{
    position: relative;
    /* 부모자격 - 하위직계자식 div앱솔루트 */
    width: 220px;
    height: 400px;
    margin: 0 auto;
    margin-top: 50px;
}
/* 몸통의 가상요소로 상체 만들기 */
.body::before {
    content:'';
    display: block;
    position: absolute;
    top: -4px;
    left: -10px;
    width: 240px;
    height: 180px;
    background-image: linear-gradient(to bottom, #913e0d, #ee9968);
}
.body::after {
    content:'';
    display: block;
    position: absolute;
    bottom: 0;
    left: -10px;
    width: 240px;
    height: 150px;
    background-image: linear-gradient(to bottom, #913e0d, #ee9968);
}
/* 목 */
.neck{
    top: -70px;
    left: calc(50% - 50px/2);
    /* 중앙보내기 원리 : 부모막스의 50%보내고 자신크기의 절반빼기 */
    width: 50px;
    height: 80px;
    border-radius: 20px;
}
/* 팔공통 */
.arm {
    width: 50px;
    height: 200px;
    border-radius: 20%;
}
/* 팔 하단부분 공통 */
.arm span {
    position: absolute;
    top: 100%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 20%;
}
/* 왼팔 */
.arm1 {
    left: -70px;
}
/* 오른팔 */
.arm2 {
    right: -70px;
}
/* 다리공통 */
.leg {
    width: 80px;
    height: 250px;
    top: 95%;
    /* 부모박스 크기만큼 나감 */
    border-radius: 20%;
}
/* 다리하단 공통 */
.leg span {
    position: absolute;
    top: 100%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 20%;
}
/* 왼다리 */
.leg1 {
    left: 10px;
}
/* 오른다리 */
.leg2 {
    right: 10px;
}
/* 어깨공통 */
.shdr {
    width: 80px;
    height: 80px;
    top: -15px;
}
/* 왼어깨 */
.shdr1 {
    left: -80px;
    border-radius: 50% 0 0 50%;
}
/* 오른어깨 */
.shdr2 {
    right: -80px;
    border-radius: 0 50% 50% 0;
}
/* 로봇설명박스 */

/* 3. 하단영역 */
/* 회사정보 */

